@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */

  background-image: url('./doro.png');
  background-size: cover;

  user-select: none;
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
